:root {
  --black:#000000;
  --darkgray:#7e7e7e;
  --lightgray:#bebebe;
  --white:#ffffff;
  --darkred:#7e0000;
  --red:#fe0000;
  --darkgreen:#047e00;
  --green:#06ff04;
  --darkyellow:#7e7e00;
  --yellow:#ffff04;
  --darkblue:#00007e;
  --blue:#0000ff;
  --darkpurple:#7e007e;
  --purple:#fe00ff;
  --darkcyan:#047e7e;
  --cyan:#06ffff;
}

body {
  font-family: "VT323", monospace;
  background: var(--darkcyan);
}

button {
  font-family: "VT323", monospace;
  background: var(--lightgray);
  border-left: thick solid var(--white);
  border-top: thick solid var(--white);
  border-right: thick solid var(--darkgray);
  border-bottom: thick solid var(--darkgray);
}

button:hover {
  background: var(--white);
}

button:active {
  background: var(--darkgray);
}

#game-stats {
  background: var(--lightgray);
  border-left: thick solid var(--white);
  border-top: thick solid var(--white);
  border-right: thick solid var(--darkgray);
  border-bottom: thick solid var(--darkgray);
  width: auto;
  min-width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 4px;
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 5%;
  padding-right: 5%;
  gap: 1%;
}
#game-canvas-container {
  display: flex;
  flex-flow: column wrap;
  gap: 0 0;
  overflow: hidden;
}
#game-canvas {
  border-left: thick solid var(--white);
  border-top: thick solid var(--white);
  border-right: thick solid var(--darkgray);
  border-bottom: thick solid var(--darkgray);
  width: 960px;
  height: 720px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  font-smooth: none;
  -webkit-font-smoothing : none;
  overflow: hidden;
}

#game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 4px;
  width: 100%;
  height: 95%;
  gap: 2%;
  border-radius: 5px;
}


#chat {
  background: var(--lightgray);
  border-left: thick solid var(--white);
  border-top: thick solid var(--white);
  border-right: thick solid var(--darkgray);
  border-bottom: thick solid var(--darkgray);
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}
#chatlog {
  height: 100%;
  border: 1px solid black;
  overflow: hidden auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--col7) var(--col1) ;
}
#chatlog p {
  border: 0;
  border-bottom: 1px dashed black;
  padding: 1%;
}

.hidden {
  display: none;
}

.player-nametag {
  position: absolute;
  color: #fff;
}

.chat-bubble {
  position: absolute;
  background:  var(--darkyellow);
  border: 1px solid var(--black);
  border-radius: 4px 4px 4px 0px;
}

.room-notification {
  color: var(--yellow);
}

.titlebar {
  color: var(--white);
  padding: 4px;
  background-color: var(--darkblue);
  border-left: thick solid var(--white);
  border-top: thick solid var(--white);
  border-right: thick solid var(--white);
  margin: 0;
}